In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import  StandardScaler

In [3]:
from sklearn.model_selection import  train_test_split

In [4]:
from mxnet import  autograd,nd

In [5]:
from mxnet.gluon import data as gdata

In [6]:
from mxnet.gluon import loss  as gloss,nn

In [7]:
from mxnet import gluon,init

In [8]:
import gluonbook as gb

In [35]:
train_data = pd.read_csv("Processed_train.csv")
commit = pd.read_csv("Processed_test.csv")
X_train_data = train_data.iloc[:,1:]
y_train_data = train_data.iloc[:,0]
scaler = StandardScaler()
scaler.fit(X_train_data)
X_train_data = scaler.transform(X_train_data)
commit = scaler.transform(commit)
print(X_train_data)

[[ 0.82737724  0.73769513 -0.42438276 ...,  0.05915988 -1.2316449
  -0.7075504 ]
 [-1.56610693 -1.35557354  0.7684407  ...,  0.05915988 -1.2316449
   1.2352151 ]
 [ 0.82737724 -1.35557354 -0.42438276 ..., -0.56097483  0.81192233
   0.26383235]
 ...,
 [ 0.82737724 -1.35557354 -0.42438276 ...,  1.29942929 -1.2316449
   0.26383235]
 [-1.56610693  0.73769513 -0.42438276 ..., -0.56097483  0.81192233
  -0.7075504 ]
 [ 0.82737724  0.73769513 -0.42438276 ..., -0.56097483  0.81192233
  -0.7075504 ]]

In [10]:
train_features = train_data.iloc[:,1:]
train_labels = train_data.iloc[:,0]

In [65]:
from sklearn.model_selection import RepeatedKFold
random_state = 12883823
rkf = RepeatedKFold(n_splits=3, n_repeats=5, random_state=random_state)
for train_idx, test_idx in rkf.split(X_train_data):
#     print(train_idx,type(train_idx))
    X_train = X_train_data[train_idx]
    y_train = y_train_data[train_idx]
    X_test = X_train_data[test_idx]
    y_test = y_train_data[test_idx]
    
    X_train = nd.array(X_train,dtype="float32")
    X_test = nd.array(X_test,dtype="float32")
    
    y_train = nd.array(y_train)
    y_test = nd.array(y_test)
    
    train_set= gdata.ArrayDataset(X_train,y_train)
    test_set = gdata.ArrayDataset(X_test,y_test)
    
    batch_size = 10
    train_iter = gdata.DataLoader(train_set,batch_size,shuffle=True)
    test_iter = gdata.DataLoader(test_set,batch_size,shuffle=True)
    
    num_epochs = 5
    gb.train_ch3(net,train_iter,test_iter,loss,num_epochs,batch_size,None,None,trainer)
    
commit = nd.array(commit,dtype="float32")

epoch 1, loss 0.3178, train acc 0.865, test acc 0.879
epoch 2, loss 0.2998, train acc 0.867, test acc 0.882
epoch 3, loss 0.2980, train acc 0.873, test acc 0.875
epoch 4, loss 0.2812, train acc 0.873, test acc 0.869
epoch 5, loss 0.2980, train acc 0.873, test acc 0.842
epoch 1, loss 0.3527, train acc 0.850, test acc 0.848
epoch 2, loss 0.3153, train acc 0.871, test acc 0.875
epoch 3, loss 0.3013, train acc 0.878, test acc 0.865
epoch 4, loss 0.2882, train acc 0.877, test acc 0.832
epoch 5, loss 0.2951, train acc 0.876, test acc 0.838
epoch 1, loss 0.3506, train acc 0.852, test acc 0.879
epoch 2, loss 0.2972, train acc 0.876, test acc 0.865
epoch 3, loss 0.2876, train acc 0.879, test acc 0.855
epoch 4, loss 0.2859, train acc 0.871, test acc 0.845
epoch 5, loss 0.2719, train acc 0.878, test acc 0.848
epoch 1, loss 0.3144, train acc 0.875, test acc 0.859
epoch 2, loss 0.2975, train acc 0.878, test acc 0.862
epoch 3, loss 0.2979, train acc 0.883, test acc 0.862
epoch 4, loss 0.2878, train acc 0.882, test acc 0.845
epoch 5, loss 0.2837, train acc 0.886, test acc 0.855
epoch 1, loss 0.2895, train acc 0.864, test acc 0.872
epoch 2, loss 0.2785, train acc 0.877, test acc 0.869
epoch 3, loss 0.2847, train acc 0.880, test acc 0.865
epoch 4, loss 0.2618, train acc 0.885, test acc 0.855
epoch 5, loss 0.2486, train acc 0.885, test acc 0.852
epoch 1, loss 0.3223, train acc 0.861, test acc 0.896
epoch 2, loss 0.2922, train acc 0.876, test acc 0.899
epoch 3, loss 0.2791, train acc 0.887, test acc 0.896
epoch 4, loss 0.2713, train acc 0.885, test acc 0.882
epoch 5, loss 0.2874, train acc 0.877, test acc 0.872
epoch 1, loss 0.2945, train acc 0.879, test acc 0.889
epoch 2, loss 0.2768, train acc 0.879, test acc 0.882
epoch 3, loss 0.2854, train acc 0.875, test acc 0.882
epoch 4, loss 0.2862, train acc 0.878, test acc 0.882
epoch 5, loss 0.2778, train acc 0.880, test acc 0.886
epoch 1, loss 0.2755, train acc 0.881, test acc 0.879
epoch 2, loss 0.2760, train acc 0.883, test acc 0.838
epoch 3, loss 0.2895, train acc 0.871, test acc 0.862
epoch 4, loss 0.2565, train acc 0.890, test acc 0.859
epoch 5, loss 0.2413, train acc 0.890, test acc 0.855
epoch 1, loss 0.3418, train acc 0.867, test acc 0.879
epoch 2, loss 0.3272, train acc 0.870, test acc 0.879
epoch 3, loss 0.2877, train acc 0.882, test acc 0.882
epoch 4, loss 0.2702, train acc 0.888, test acc 0.855
epoch 5, loss 0.2913, train acc 0.890, test acc 0.845
epoch 1, loss 0.2547, train acc 0.903, test acc 0.842
epoch 2, loss 0.2434, train acc 0.910, test acc 0.832
epoch 3, loss 0.2536, train acc 0.902, test acc 0.818
epoch 4, loss 0.2390, train acc 0.903, test acc 0.822
epoch 5, loss 0.2344, train acc 0.907, test acc 0.835
epoch 1, loss 0.3065, train acc 0.857, test acc 0.882
epoch 2, loss 0.2818, train acc 0.880, test acc 0.892
epoch 3, loss 0.2852, train acc 0.879, test acc 0.889
epoch 4, loss 0.2771, train acc 0.877, test acc 0.899
epoch 5, loss 0.2539, train acc 0.888, test acc 0.896
epoch 1, loss 0.3064, train acc 0.873, test acc 0.912
epoch 2, loss 0.2792, train acc 0.875, test acc 0.906
epoch 3, loss 0.2734, train acc 0.874, test acc 0.899
epoch 4, loss 0.2687, train acc 0.883, test acc 0.902
epoch 5, loss 0.2841, train acc 0.873, test acc 0.899
epoch 1, loss 0.2844, train acc 0.887, test acc 0.852
epoch 2, loss 0.2578, train acc 0.892, test acc 0.855
epoch 3, loss 0.2416, train acc 0.903, test acc 0.855
epoch 4, loss 0.2511, train acc 0.897, test acc 0.835
epoch 5, loss 0.2719, train acc 0.875, test acc 0.835
epoch 1, loss 0.2888, train acc 0.873, test acc 0.906
epoch 2, loss 0.2731, train acc 0.880, test acc 0.882
epoch 3, loss 0.2826, train acc 0.871, test acc 0.886
epoch 4, loss 0.2908, train acc 0.863, test acc 0.889
epoch 5, loss 0.2732, train acc 0.872, test acc 0.902
epoch 1, loss 0.2896, train acc 0.880, test acc 0.879
epoch 2, loss 0.2729, train acc 0.888, test acc 0.882
epoch 3, loss 0.2665, train acc 0.881, test acc 0.882
epoch 4, loss 0.2605, train acc 0.892, test acc 0.882
epoch 5, loss 0.2605, train acc 0.889, test acc 0.886

In [61]:
net = nn.Sequential()
net.add(nn.Dense(20,activation="relu"),
        nn.Dense(8,activation="relu"),
    nn.Dense(2))

In [62]:
net.initialize(init.Normal(sigma=0.01))
loss = gloss.SoftmaxCrossEntropyLoss()

In [63]:
trainer = gluon.Trainer(net.collect_params(),'adam',{"learning_rate":0.01})

In [66]:
submission = pd.DataFrame({"PassengerId":pd.read_csv("test.csv")["PassengerId"],
                          "Survived":net(commit).argmax(axis=1).asnumpy().astype("int")
                          })
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         1
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         1
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [67]:
submission.to_csv("submission_mxnet_gluon.csv",index=False)